<!DOCTYPE html>
<html>
  <head>
    <title>Apcos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Kings", "/", { :class => "navbar-brand" } %>
      <% if user_signed_in? %>
        <%= link_to "マイページ", "/users/#{current_user.id}", { :class => "btn btn-primary" } %>
      <% else %>
        <%= link_to "ログインする", "/users/sign_in", { :class => "btn btn-primary" } %>
      <% end%>
    </header>
    <%= yield %>
  </body>
</html>
